/LoyaltyApp/build/generated/source/buildConfig/release/com/example/android/cardemulation/BuildConfig.java
/LoyaltyApp/build/generated/source/r/release/android/support/v7/cardview/R.java
/LoyaltyApp/build/generated/source/r/release/com/example/android/cardemulation/R.java
/LoyaltyApp/build/intermediates/blame/res/release/multi/values-sw600dp-v13.json
/LoyaltyApp/build/intermediates/blame/res/release/multi/values-v11.json
/LoyaltyApp/build/intermediates/blame/res/release/multi/values-v21.json
/LoyaltyApp/build/intermediates/blame/res/release/multi/values-v23.json
/LoyaltyApp/build/intermediates/blame/res/release/multi/values.json
/LoyaltyApp/build/intermediates/blame/res/release/single/drawable-hdpi.json
/LoyaltyApp/build/intermediates/blame/res/release/single/drawable-mdpi.json
/LoyaltyApp/build/intermediates/blame/res/release/single/drawable-xhdpi.json
/LoyaltyApp/build/intermediates/blame/res/release/single/drawable-xxhdpi.json
/LoyaltyApp/build/intermediates/blame/res/release/single/layout-w720dp-v13.json
/LoyaltyApp/build/intermediates/blame/res/release/single/layout.json
/LoyaltyApp/build/intermediates/blame/res/release/single/menu.json
/LoyaltyApp/build/intermediates/blame/res/release/single/xml.json
/LoyaltyApp/build/intermediates/classes/release/android/support/v7/cardview/R$attr.class
/LoyaltyApp/build/intermediates/classes/release/android/support/v7/cardview/R$color.class
/LoyaltyApp/build/intermediates/classes/release/android/support/v7/cardview/R$dimen.class
/LoyaltyApp/build/intermediates/classes/release/android/support/v7/cardview/R$style.class
/LoyaltyApp/build/intermediates/classes/release/android/support/v7/cardview/R$styleable.class
/LoyaltyApp/build/intermediates/classes/release/android/support/v7/cardview/R.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/AccountStorage.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/BuildConfig.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/CardEmulationFragment$1.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/CardEmulationFragment$AccountUpdater.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/CardEmulationFragment.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/CardService.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/MainActivity$1.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/MainActivity.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$attr.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$color.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$dimen.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$drawable.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$id.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$layout.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$menu.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$string.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$style.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$styleable.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R$xml.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardemulation/R.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardreader/LoyaltyCardReader$AccountCallback.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/cardreader/LoyaltyCardReader.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/activities/SampleActivityBase.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/logger/Log.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/logger/LogFragment$1.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/logger/LogFragment.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/logger/LogNode.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/logger/LogView$1.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/logger/LogView.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/logger/LogWrapper.class
/LoyaltyApp/build/intermediates/classes/release/com/example/android/common/logger/MessageOnlyLogFilter.class
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/AndroidManifest.xml
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/R.txt
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/aapt/AndroidManifest.xml
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/jars/classes.jar
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/res/values-v23/values-v23.xml
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/res/values/values.xml
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v13/23.3.0/AndroidManifest.xml
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v13/23.3.0/aapt/AndroidManifest.xml
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v13/23.3.0/jars/classes.jar
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v13/23.3.0/jars/libs/internal_impl-23.3.0.jar
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/AndroidManifest.xml
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/aapt/AndroidManifest.xml
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/aidl/android/support/v4/media/MediaMetadataCompat.aidl
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/aidl/android/support/v4/media/RatingCompat.aidl
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/aidl/android/support/v4/media/session/MediaSessionCompat.aidl
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/aidl/android/support/v4/media/session/ParcelableVolumeInfo.aidl
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/aidl/android/support/v4/media/session/PlaybackStateCompat.aidl
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/aidl/android/support/v4/os/ResultReceiver.aidl
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/annotations.zip
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/jars/classes.jar
/LoyaltyApp/build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/jars/libs/internal_impl-23.3.0.jar
/LoyaltyApp/build/intermediates/incremental-safeguard/release/tag.txt
/LoyaltyApp/build/intermediates/incremental/compileReleaseAidl/dependency.store
/LoyaltyApp/build/intermediates/incremental/mergeReleaseAssets/merger.xml
/LoyaltyApp/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
/LoyaltyApp/build/intermediates/incremental/mergeReleaseResources/compile-file-map.properties
/LoyaltyApp/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-sw600dp-v13/values-sw600dp-v13.xml
/LoyaltyApp/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-v11/values-v11.xml
/LoyaltyApp/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-v21/values-v21.xml
/LoyaltyApp/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-v23/values-v23.xml
/LoyaltyApp/build/intermediates/incremental/mergeReleaseResources/merged.dir/values/values.xml
/LoyaltyApp/build/intermediates/incremental/mergeReleaseResources/merger.xml
/LoyaltyApp/build/intermediates/incremental/mergeReleaseShaders/merger.xml
/LoyaltyApp/build/intermediates/incremental/packageRelease/dex-renamer-state.txt
/LoyaltyApp/build/intermediates/incremental/packageRelease/file-input-save-data.txt
/LoyaltyApp/build/intermediates/incremental/packageRelease/zip-cache/XF686i+nYOcMqq9nIYKnGq+jr68=
/LoyaltyApp/build/intermediates/manifests/full/release/AndroidManifest.xml
/LoyaltyApp/build/intermediates/pre-dexed/release/com.android.support-cardview-v7-23.3.0_83d1ac73c604f4745ba8364afcbb4c42df022ae8.jar
/LoyaltyApp/build/intermediates/pre-dexed/release/com.android.support-support-v13-23.3.0_0959f963ee6a6539c99fd950ba36889c786f2ddc.jar
/LoyaltyApp/build/intermediates/pre-dexed/release/com.android.support-support-v4-23.3.0_b4ce2c383a05952a49fba36cc716cbb48f6d57fd.jar
/LoyaltyApp/build/intermediates/pre-dexed/release/internal_impl-23.3.0_ab58c361de9c45537386f82f5cc1f5ab9db08944.jar
/LoyaltyApp/build/intermediates/pre-dexed/release/internal_impl-23.3.0_d59d53607d6c051a6b593e95836084495ee51d2e.jar
/LoyaltyApp/build/intermediates/pre-dexed/release/release_9a8e4361dfd56e119c6c15bff8ad203401e44b3a.jar
/LoyaltyApp/build/intermediates/pre-dexed/release/support-annotations-23.3.0_928b30c32ecce521f70d133b2f625fef3b83bf29.jar
/LoyaltyApp/build/intermediates/res/merged/release/drawable-hdpi/ic_launcher.png
/LoyaltyApp/build/intermediates/res/merged/release/drawable-hdpi/tile.9.png
/LoyaltyApp/build/intermediates/res/merged/release/drawable-mdpi/ic_launcher.png
/LoyaltyApp/build/intermediates/res/merged/release/drawable-xhdpi/ic_launcher.png
/LoyaltyApp/build/intermediates/res/merged/release/drawable-xxhdpi/card_background.png
/LoyaltyApp/build/intermediates/res/merged/release/drawable-xxhdpi/ic_launcher.png
/LoyaltyApp/build/intermediates/res/merged/release/layout-w720dp-v13/activity_main.xml
/LoyaltyApp/build/intermediates/res/merged/release/layout/activity_main.xml
/LoyaltyApp/build/intermediates/res/merged/release/layout/main_fragment.xml
/LoyaltyApp/build/intermediates/res/merged/release/menu/main.xml
/LoyaltyApp/build/intermediates/res/merged/release/values-sw600dp-v13/values-sw600dp-v13.xml
/LoyaltyApp/build/intermediates/res/merged/release/values-v11/values-v11.xml
/LoyaltyApp/build/intermediates/res/merged/release/values-v21/values-v21.xml
/LoyaltyApp/build/intermediates/res/merged/release/values-v23/values-v23.xml
/LoyaltyApp/build/intermediates/res/merged/release/values/values.xml
/LoyaltyApp/build/intermediates/res/merged/release/xml/aid_list.xml
/LoyaltyApp/build/intermediates/res/merged/release/xml/nfc_tech_filter.xml
/LoyaltyApp/build/intermediates/res/resources-release.ap_
/LoyaltyApp/build/intermediates/symbols/release/R.txt
/LoyaltyApp/build/intermediates/transforms/dex/release/folders/1000/1f/main/classes.dex
/LoyaltyApp/build/outputs/apk/LoyaltyApp-release.apk
/LoyaltyApp/build/outputs/lint-results-release-fatal.html
/LoyaltyApp/build/outputs/lint-results-release-fatal.xml
/LoyaltyApp/build/outputs/logs/manifest-merger-release-report.txt
